<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
  <add key="AppId" value="633205476864676" xdt:Transform="Remove"/>
  <add key="AppSecret" value="b046485888f228e450553c3ecf7c5190" xdt:Transform="Remove" />
  <add xdt:Transform="Insert" key="AppId" value="632707700247787" />
  <add xdt:Transform="Insert" key="AppSecret" value="ada52e0fae7f194809490fb17df4b040" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform="Replace" connectionString="Server=93c1641e-aa37-4932-b142-a759009bbfe7.sqlserver.sequelizer.com;Database=db93c1641eaa374932b142a759009bbfe7;User ID=nbhcaacdmbfjrdvf;Password=CeKhmNdkigSFfU4dLACKX73ruTxir6CgMJtBVLuZ8h72qFdSjiRpNnvDjsUAp33m" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
